<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Óla, {{name}}</p>
  
  <p>Foi solicitado uma troca de senha</p>
  <p>Se você foi responsável por essa ação, clique no link abaixo para redefinir sua senha</p>
  <p><a href="{{link}}">Resetar minha senha</a></p>
  <p>Se não foi você, então apenas ignore esse email</p>

  <p>Obrigado!</p>
  <p><strong>Equipe GoBarber</strong></p>
</div>